@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Lexend:wght@100..900&display=swap');

.Velha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 300px;
    margin-top: 25px;
}

.Velha_titulo {
    font-family: "Lexend";
    color: rgb(197, 86, 104);
    font-size: 20px;
}

.Velha_board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    position: relative;
}

.Velha_board button {
    border: 1px solid pink;
    font-size: 25px;
    line-height: 0;
}

.Velha_reset {
    font-family: "Lexend";
    border: none;
    color: #FFF;
    background-color: rgb(209, 115, 131);
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
    width: auto;
    cursor: pointer;
    transition: 0.5s ease;
    padding: 12px 24px;
}

.Velha_reset:hover {
    background-color: rgb(156, 23, 45);
    color: #FFF;
}

.linha {
    position: absolute;
    background-color: #ff0;
    z-index: 1;
}
.linha-0-1-2 { top: 16.5%; width: 100%; height: 5px; }
.linha-3-4-5 { top: 50%; width: 100%; height: 5px; }
.linha-6-7-8 { top: 83.5%; width: 100%; height: 5px; }
.linha-0-3-6 { left: 16.5%; height: 100%; width: 5px; }
.linha-1-4-7 { left: 50%; height: 100%; width: 5px; }
.linha-2-5-8 { left: 83.5%; height: 100%; width: 5px; }
.linha-0-4-8 { 
    width: 120%; 
    height: 5px; 
    top: 50%;
    left: -10%;
    transform: rotate(45deg);
}
.linha-2-4-6 { 
    width: 120%; 
    height: 5px; 
    top: 50%;
    left: -10%;
    transform: rotate(-45deg);
}